* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    font-size: 16px;
    box-sizing: border-box;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

body {
    width: 100%; 
    height: auto; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #e7d9cc;
    position: fixed;
    width: 100%;
    border-bottom: solid 5px #233543;
    z-index: 999;
    height: 65px;
}

main {
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    background-color: #e7d9cc;
    padding: -40px;
}

header h1 a {
    font-size: min(max(2.5vw, 25px), 30px);
    margin-left: 1.56em;
    text-decoration: none;
    color: #233543;
}

header h1 a:hover {
    position: relative;
    bottom: 2px;
    right: 2px;
    text-decoration: underline;
}

header ul {
    margin-right: 1.56em;
    
}

.nav a {
    text-decoration: none;
    color: #233543;
    font-size: min(max(2.5vw, 25px), 20px);
}

.nav a:hover {
    position: relative;
    bottom: 2px;
    right: 2px;
    text-decoration: underline;
}

.nav li {
    display: inline; 
    padding: .31em;
    font-size: min(max(2.5vw, 25px), 20px);
}

.intro-image {
    background: url('../resources/mountainranges.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    
}

.left-content {
    width: 33.33333%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right:#233543 solid 10px;
    padding-left: 25px;
    padding-right: 25px;
}

#aboutme {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
}

#reachout {
    height: 10%;
    margin-top: 100px;
}

.left-content h2 {
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    color:#233543;
}

.right-content {
    display: flex;
    flex-direction: column;
    width: 66.66666%;
    margin-right: 25px;
    height: 75vh;
    margin-left: 25px;
}

.aboutme-content{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutme-para {
    font-size: 2.5vh;
    color:#233543;
}

.projects-container {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 5px;
    justify-content: space-between;
}

.main-project {
    background: url("../resources/mountain_landscape16_generated.png");
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    border:#233543 solid 10px;
    border-radius: 80px 80px 40px 40px;
}

.main-project p,
.sub-project p {
    height: 100%;
    width: 100%;  
}

.main-project a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    bottom: 20px;
    left: 50px;
    height: 100%;
    font-size: 1.5vh;
    text-shadow: 2px 2px 2px #233543;
}

.sub-project {
    width: 48%;
    height: auto;
    border:#233543 solid 10px;
    border-radius: 40px 40px 80px 80px;
}

.sub-project a {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    bottom: 20px;
    left: 50px;
    height: 100%;
    font-size: 1.5vh;
    text-shadow: 2px 2px 2px #233543;
}

#project-1 {
    background: url("../resources/WallpaperDog-10933533.png");
    background-repeat: no-repeat;
    background-position: 25%;
    background-size: cover;

}

#project-2 {
    background: url("../resources/WallpaperDog-10933804.png");
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: center;
    background-size: cover;
}

.reachout-content {
    margin-top: 100px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reachout-content a {
    text-decoration: none;
    color: #233543;
    font-size: 2.5vh;
    
}

footer {
    background-color: #233543;
    color:white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.reachout-content a:hover {
    text-decoration: underline;
    position: relative;
    bottom: 2px;
    right: 2px;
}

.main-project:hover,
.sub-project:hover {
    position: relative;
    bottom: 5px;
    right: 2px;
    box-shadow: black 5px 5px 5px;
}

/* -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s; */