* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: end; 
    border-bottom: solid black .1875em;
    background-color: white;
    position: fixed;
    width: 100%;
}

header h1 {
    font-size: min(max(2.5vw, 25px), 30px);
    margin-left: 1.56em;

}

header ul {
    margin-right: 1.56em;
    position: relative;
    bottom: 6px;
    
}

.nav li {
    display: inline; 
    padding: .31em;
    font-size: min(max(2.5vw, 25px), 20px);
    
}

main {
    height: 50vh;
}

.intro-image {
    background: url('../resources/mountainranges.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 350px;
}

.bg-image,
.bg-image-lower { 
    width: 100%;
    max-height: 28.125em;
}



