* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    font-size: 16px;
    box-sizing: border-box;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

body {
    width: 100%;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #e7d9cc;
    position: fixed;
    width: 100%;
    border-bottom: solid 5px #233543;
    z-index: 999;
    height: 65px;
}

header h1 a {
    font-size: min(max(2.5vw, 25px), 30px);
    margin-left: 1.56em;
    text-decoration: none;
    color: #233543;
}

header h1 a:hover {
    position: relative;
    bottom: 2px;
    right: 2px;
    text-decoration: underline;
}

header ul {
    margin-right: 1.56em;
    
}

.nav a {
    text-decoration: none;
    color: #233543;
    font-size: min(max(2.5vw, 25px), 20px);
}

.nav a:hover {
    position: relative;
    bottom: 2px;
    right: 2px;
    text-decoration: underline;
}

.nav li {
    display: inline; 
    padding: .31em;
    font-size: min(max(2.5vw, 25px), 20px);
}

.intro-image {
    background: url('../resources/mountainranges.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    
}

main {
    height: 125vh;
    display: flex;
    flex-wrap: nowrap;
    background-color: #e7d9cc;
    margin-top: 0;
}

.left-content {
    width: 33.33333%;
    height: 125vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right:#233543 solid 10px;
    padding-left: 25px;
    padding-right: 25px;
}

#aboutme {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    top: 25px;
}

#reachout {
    height: 25%;
    margin-top: 25px;
}

.left-content h2 {
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    color:#233543;
}

.right-content {
    display: flex;
    flex-direction: column;
    width: 66.66666%;
    margin-right: 25px;
    height: 125vh;
    margin-left: 25px;
}



.aboutme-content{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutme-para {
    font-size: 2.5vh;
    color:#233543;
}

.projects-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 50%;

}

.project-para {
    font-size: 2.5vh;
    height: 25%;
    width: 25%;
    background-color: #e7d9cc;
    color:#233543;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    border:#233543 solid 1px;
    border-radius: 25px;
    transition: width .5s, height .5s;
}


.project-1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: end;
    background: url("../resources/mountain_landscape16_generated.png");
    background-position: 25%;
    background-repeat: none;
    background-size: cover;
    border:#233543 solid 3px;
    border-radius: 50px;
}



.hidden-para {
    display: none;
    text-align: center;
    font-size: 2.5vh;
    color:#233543;
}

.hidden-para a {
    text-decoration: none;
    text-align: center;
    font-size: 2.5vh;
    color:#233543;
}

.shown-para {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    text-align: center;
    font-size: 2.5vh;
    color:#233543;
}

.project-1:hover .project-para,
.project-2:hover .project-para,
.project-3:hover .project-para{
    height: 90%;
    width: 100%;
    margin-right: 25px;
}

.project-1:hover .hidden-para {
    display: block;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.project-1:hover .shown-para{
    display: none;
}

.project-2:hover .hidden-para {
    display: block;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.project-2:hover .shown-para{
    display: none;
}

.project-3:hover .hidden-para {
    display: block;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.project-3:hover .shown-para{
    display: none;
}

.sub-projects {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center; 
    margin-top: 25px; 
    margin-bottom: 25px;  
}

.project-2 {
    width: 50%;
    height: 100%;
    background: url("../resources/WallpaperDog-10933804.png");
    background-position: 80%;
    background-size: cover;
    display: flex;
    align-items: end;
    border:#233543 solid 3px;
    margin-right: 10px;
    border-radius: 50px;
}

.project-3 {
    width: 50%;
    height: 100%;
    background: url("../resources/WallpaperDog-10933533.png");
    background-position: 80%;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: end;
    border:#233543 solid 3px;
    margin-left: 10px;
    border-radius: 50px;
}

.reachout-content {
    margin-top: 25px;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.reachout-content a {
    text-decoration: none;
    color: #233543;
    font-size: 2.5vh;
    
}

.reachout-content a:hover {
    text-decoration: underline;
    position: relative;
    bottom: 2px;

    right: 2px;
}

footer {
    background-color: #233543;
    color:#e7d9cc;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media only screen and (max-width: 1919px) {
    .small-para{
        font-size: 1.5vh;
    }
    .project-para {
        height: 20%;
    }
}

@media only screen and (max-width: 1071px) {
    .project-para {
        height: 15%; 
    }
    .project-2:hover .project-para {
        height: 80%;
    }
    .project-3:hover .project-para {
        height: 80%;
    }

    .sub-projects {
        flex-wrap: wrap;
    }
    .project-2 {
        width: 100%;
        height: 50%;
        margin-right: 0;
    }
    .project-3 {
        width: 100%;
        height: 50%;
        margin-left: 0;
        margin-top: 25px;
    }
    .aboutme-para {
        text-align: center;
    }
}

@media only screen and (max-width: 850px) {
    .large-para {
        font-size: 1.5vh;
    }
    .left-content h2 {
        text-align: center;
        font-size: 3vh;
    }
    .reachout-content {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
        top:50px;
    }
    .reachout-content a {
        font-size: 2vh;
    }
    .intro-image {
        height: 250px;
    }
    .aboutme-para {
        font-size: 2vh;
    }
}

@media only screen and (max-width: 600px) {
    .nav a {
        font-size: 1.5vh;
    }
    .project-para {
        width: 50%;
        position: relative;
        top: 10%;
        height: 25%;
    }
    .left-content h2 {
        font-size: 2vh;
    }
    .projects-content {
        height: 33%;  
    }
    .project-1 {
        height: 33%;
        justify-content: center;
    }
    .project-2,
    .project-3 {
        justify-content: center;
    }
    #projects {
        height: 33%;
    }
    .project-1:hover {
        position: relative;
        bottom: 2px;
        box-shadow: 3px 3px 3px;
    }
    .project-2:hover {
        position: relative;
        bottom: 2px;
        box-shadow: 3px 3px 3px;
}
    .project-3:hover {
        position: relative;
        bottom: 2px;
        box-shadow: 3px 3px 3px;
    }
    .sub-projects {
        margin-top: 0;
    }
}